body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-container,
#register-container {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #45a049;
}

.circular-image {
    border-radius: 50%;
    overflow: hidden;
    width: 250px; 
    height: 250px; 
  }
  
#username-display{
    padding-left: 30px;
}  

.tweet-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}


#tweet-form {
    margin-top: 20px;
}

#tweet-input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#tweet-container {
    max-width: 600px;
    margin: 20px auto;
}
